/*
component: 01__container
note: the fill-height/width/space only work if the container
  is within an element with a fixed height or an element with
  the class .filler
classes: 
  .container/.wrapper
  → .fill-height
  → .fill-width
  → .fill-space (width & height)
*/
$container__max-width: 992px !default;
$container__padding: 0 1rem !default;

/*
component: 03__buttom
dependencies: 00__variables
classes: 
  .btn
  → .btn-outlined
  → .btn-text
  → .btn-disabled
  → .btn-large
  → .btn-small
  → .btn-squared
  → .btn-rounded
  → .btn-block
*/
// FIXME
// add border variable
// add hover states
$btn__background: $primary-color !default;
$btn__font-size: 0.85rem;
$btn__font-style: uppercase !default;
$btn__font-weight: 500 !default;
$btn__border-radius: 2px !default;
$btn__letter-spacing: 0px !default;
