/*
component: 01__container
dependencies: 00__variables
classes: 
  .container/.wrapper
  → .fill-height
  → .fill-width
  → .fill-space (width & height)
*/

.container,
.wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: $container__padding;
  max-width: $container__max-width;

  &.fill-height {
    height: 100%;
  }

  &.fill-width {
    margin: 0;
    max-width: 100%;
  }

  &.fill-space {
    margin: 0;
    max-width: 100%;
    height: 100%;
  }
}
