/*
navbar.scss
dependencies:
  - variables
classes:
  - fixed
  - larged
  - stacked
    - centered
*/

/*  EXAMPLE USAGE -----------------------------------------------------------------------
<nav id="nav-bar" class="nav-bar white fixed large stacked centered elevation-1">
<div class="container">
<div id="nav-title" class="nav-title display-5">title</div>
    <div id="nav-menu" class="nav-menu btn btn-icon btn-squared transparent">
    <img class="icon" src="./images/icon-hamburger.svg" alt="icon-hamburger" />
    </div>
    <ul id="nav-links" class="nav-links">
    <li class="text-small"><a href="#" class="underline">link1</a></li>
    <li class="text-small"><a href="#" class="underline">link2</a></li>
    <li class="text-small"><a href="#" class="underline">link3</a></li>
    <li class="text-small"><a href="#" class="underline">link4</a></li>
    </ul>
    </div>
    </nav>
*/

.nav-bar {
  min-height: $ccss-nav-bar-min-height;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 1rem;
  z-index: 10;

  &.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }

  .container {
    padding: 0;
    height: 100%;
    @extend .nav-bar;
  }

  .nav-title {
    letter-spacing: $ccss-nav-title-letter-spacing;
    text-transform: $ccss-nav-title-text-style;
    font-weight: $ccss-nav-title-text-weight;
    padding: 0 0.25rem;
    margin: 0;
  }

  .nav-links {
    @include list-reset;
    display: none;
    padding: 0.5rem 0;
    li {
      letter-spacing: $ccss-nav-link-letter-spacing;
      text-transform: $ccss-nav-link-text-style;
      font-weight: $ccss-nav-link-text-weight;
      padding: 0 1rem;
    }
  }

  // FIXME
  // this could extend .btn?
  .nav-menu {
    position: absolute;
    right: 0;

    &.btn {
      border: solid 2px transparent !important;
      &:hover {
        background-color: transparent !important;
      }
    }
  }

  @include ccss-on-tablet-and-up {
    &.large {
      height: $ccss-nav-bar-max-height;
    }

    &.stacked {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .container {
        @extend .stacked;
      }

      &.centered {
        align-items: center;
        .container {
          @extend .centered;
        }
      }
    }

    .nav-title {
      padding: 0.5rem 1rem;
    }

    .nav-links {
      display: flex;
    }

    .nav-menu {
      position: relative;
      display: none;
    }
  }
}
