/*
component: 07__divider
dependencies: 00__variables
classes: 
  .divider
*/

.divider {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 1px;
  background-color: lighten($mutedblack-color, 85);
}
