/*
variables.scss
global variables
*/

/*
typography variables
*/
$font-primary-stack: "Montserrat", "Helvetica Neue", sans-serif !default;
$font-secondary-stack: "Montserrat", "serif" !default;
$type-scale-ratio: 1.333 !default;
$text-mobile-size: 14px !default;
$text-tablet-size: 15px !default;
$text-laptop-size: 16px !default;
$body-line-height: 1.75 !default;
$head-line-height: 1.15 !default;

/*
breakpoints
*/
$mobile-screen-max-width: 600px;
$tablet-screen-max-width: 992px;
$laptop-screen-max-width: 1200px;
$large-screen-max-width: 1440px;

/*
theme
*/
$mutedblack-color: rgb(156, 156, 156) !default;
$offblack-color: rgba(0, 0, 0, 0.87) !default;
$text-color: $offblack-color !default;
$primary-color: #b8336a !default;
$secondary-color: #2e5266 !default;
$tertiary-color: #8d99ae !default;
$success-color: #4caf50 !default;
$warning-color: #ffeb3b !default;
$error-color: #f44336 !default;

/*
component: link
*/
$link__color-default: #039be5 !default;
$link__color-hover: lighten($link__color-default, 25) !default;
$navlink__color-default: $secondary-color !default;
$navlink__color-hover: $navlink__color-default !default;

/*
component: container
*/
$container__max-width: 992px !default;
$container__padding: 0 1rem !default;

/*
component: buttom
*/
$btn__background: $primary-color !default;
$btn__font-size: 0.8rem;
$btn__font-style: uppercase !default;
$btn__font-weight: 500 !default;
$btn__border-radius: 2px !default;
$btn__letter-spacing: 0px !default;

/*
component: navbar
*/
$navbar__min-height: 4rem;
$navbar__max-height: 8rem;
