@import "./cluster-css/cluster";

#typography {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
}

#buttons {
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    @include on-tablet-and-up {
      grid-template-columns: repeat(3, 1fr);
    }

    .item {
      border: solid 1px #9999;
      min-height: 150px;
    }
  }
}

#theme {
  .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;

    .item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
      min-height: 150px;
      border: solid 1px #9999;
      .sample {
        justify-self: center;
        .sample-item {
          min-width: 192px;
          height: 36px;
        }
      }
    }
  }
}
