/*
typescale (mainly for typography)
*/
@mixin typescale($base-size, $ratio) {
  h1,
  .display-1 {
    font-size: $base-size * pow($ratio, 5);
  }

  h2,
  .display-2 {
    font-size: $base-size * pow($ratio, 4);
  }

  h3,
  .display-3 {
    font-size: $base-size * pow($ratio, 3);
  }

  h4,
  .display-4 {
    font-size: $base-size * pow($ratio, 2);
  }

  h5,
  .display-5 {
    font-size: $base-size * pow($ratio, 1);
  }

  small,
  .small,
  .text-small,
  .display-small {
    font-size: $base-size / pow($ratio, 1);
  }
}

/*
media queries
*/
@mixin on-tablet-and-up {
  @media only screen and (min-width: ($mobile-screen-max-width + 1px)) {
    @content;
  }
}

@mixin on-laptop-and-up {
  @media only screen and (min-width: ($tablet-screen-max-width + 1px)) {
    @content;
  }
}

@mixin on-large-screen-and-up {
  @media only screen and (min-width: ($laptop-screen-max-width + 1px)) {
    @content;
  }
}

@mixin on-xlarge-screen-and-up {
  @media only screen and (min-width: ($large-screen-max-width + 1px)) {
    @content;
  }
}

@mixin on-tablet-only {
  @media only screen and (min-width: ($mobile-screen-max-width + 1px)) and (max-width: $tablet-screen-max-width) {
    @content;
  }
}

@mixin on-laptop-only {
  @media only screen and (min-width: ($tablet-screen-max-width + 1px)) and (max-width: $laptop-screen-max-width) {
    @content;
  }
}

@mixin on-large-screen-only {
  @media only screen and (min-width: ($laptop-screen-max-width + 1px)) and (max-width: $large-screen-max-width) {
    @content;
  }
}

/*
color shades
*/
@mixin shades($color-value) {
  $shade: 10;
  @for $index from 1 to 4 {
    &.lighten-#{$shade} {
      background-color: lighten($color-value, $shade) !important;
    }
    &.darken-#{$shade} {
      background-color: darken($color-value, $shade) !important;
    }
    $shade: $shade + 10;
  }
}

@mixin text-shades($color-value) {
  $text-shade: 10;
  @for $index from 1 to 4 {
    &.text-lighten-#{$text-shade} {
      color: lighten($color-value, $text-shade) !important;
    }
    &.text-darken-#{$text-shade} {
      color: darken($color-value, $text-shade) !important;
    }
    $text-shade: $text-shade + 10;
  }
}
