/*
module: 03__globals.scss
global rules
dependencies: 
  - _00__variables
*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header,
main,
footer {
  position: relative;
}

// FIXME
// this should on its separate file
// images && icons (use svg)
blockquote {
  margin: 1em 0;
  padding-left: 2em;
  border-left: solid 4px $primary-color;
}

// FIXME
// this should on its separate file
// images && icons (use svg)
img {
  display: block;
  width: 100%;

  &.icon {
    cursor: pointer;
    padding: 0.25rem;
    height: 32px;
    width: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    object-position: 50% 50%;
    object-fit: contain;
  }
}
