/*
component: link.scss
handlers for links including 
animations
dependencies: 00__variables
classes: 
  .link
  → .active

  .navlink
    → .underline
    → .indicator
    → .active
*/

@use '../core/variables';

$-link-padding-x: 0.125rem;
$-link-padding-y: 0;
$-link_indicator-z: -(1rem / 1.5);

a,
a.link {
  position: relative;
  &:link,
  &:visited {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    transition: all 0.25s;
    padding: $-link-padding-y $-link-padding-x;
    color: variables.$link__color_default;
  }

  &.active,
  &:hover,
  &:active {
    color: variables.$link__color-hover;
  }
}

a.nav-link {
  @extend .link;

  &:link,
  &:visited {
    color: variables.$navlink__color_default;
  }

  &.active,
  &:hover,
  &:active {
    color: variables.$navlink__color-hover;
  }

  &.indicator {
    @mixin -indicator-base {
      cursor: auto;
      content: "";
      position: absolute;
      bottom: $-link_indicator-z;
      left: 50%;
      transform: translateX(-50%);
      width: 6px;
      height: 6px;
      border-radius: 8px;
    }
    &:link,
    &:visited {
      position: relative;
      &::after {
        @include -indicator-base;
        opacity: 0;
        transition: opacity 0.5s;
        background-color: variables.$navlink__color_default;
      }
    }

    &:hover,
    &:active {
      &::after {
        opacity: 1;
        background-color: variables.$navlink__color_hover;
      }
    }

    &.active {
      position: relative;
      &::after {
        @include -indicator-base;
        opacity: 1;
        background-color: variables.$navlink__color_hover;
      }
    }
  }

  &.underline {
    @mixin -underline-base {
      cursor: auto;
      content: "";
      position: absolute;
      left: $-link-padding-x;
      bottom: $-link_indicator-z;
      height: 2px;
      width: calc(100% - (2 * #{$-link-padding-x}));
    }

    &:link,
    &:visited {
      position: relative;
      &::after {
        @include -underline-base();
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.25s;
        background-color: variables.$navlink__color_default;
      }
    }

    &:hover,
    &:active {
      &::after {
        transform-origin: left;
        transform: scaleX(1);
        background-color: variables.$navlink__color_hover;
      }
    }

    &.active {
      position: relative;
      &::after {
        @include -underline-base;
        transform: scaleX(1);
        background-color: variables.$navlink__color_hover;
      }
    }
  }
}
